@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
.page {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  background: #f5f5f5;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 12px 0 12px;
}
@media screen and (max-width: 480px) {
  main {
    padding: 0;
  }
}

header {
  display: flex;
  background: #c4c4c4;
  width: 100%;
  min-height: 90px;
}

h2 {
  margin: 30px auto 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
}

.info {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
}
.info--visibility {
  display: none;
}
@media screen and (min-width: 480px) {
  .info--visibility {
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .info {
    order: initial;
  }
}
.info__big-square {
  float: left;
  position: relative;
  width: 66%;
  padding-bottom: 66.2%;
  background-color: #a2a9b7;
}
@media screen and (min-width: 480px) {
  .info__big-square {
    width: 66.2%;
  }
}
.info__big-square--overflow {
  overflow-y: auto;
  overflow-x: hidden;
}
.info__big-square--color {
  background-color: #e3ebd3;
}
.info__content {
  position: absolute;
  height: 90%;
  width: 94%;
  padding: 18px 20px 0 9px;
}
@media screen and (min-width: 480px) {
  .info__content {
    padding: 27px 20px 0 6px;
  }
}
.info__content--padding {
  display: flex;
  height: 51%;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 0 0 15px;
}
.info__content--padding p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  white-space: nowrap;
}
.info__text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
.info__text-container--padding p {
  margin: 0;
}
.info__text-container--margin-bottom {
  margin-bottom: 25px;
}
.info__line {
  height: 0;
  width: 100%;
  padding-top: 13px;
  border: none;
  border-bottom: 1px dashed #000;
}
.info__line--margin {
  margin: 20px 0 0 10px;
}
.info__line--indent {
  margin: 0 10px;
}
.info__line--margin-right {
  margin-right: 10px;
}
.info__line--margin-left {
  margin-left: 10px;
}
.info__line--margin-right-top {
  margin: 20px 10px 0 0;
}
.info__line-container {
  display: flex;
  flex-direction: row;
  padding-right: 2px;
}
.info__patronymic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info__patronymic p {
  margin: 0;
  text-align: right;
}
.info__text-paragraph {
  margin: 20px 0 0 0;
}
.info__square-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 66% - 6px);
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .info__square-group {
    width: calc(100% - 66.2% - 6px);
  }
}
@media screen and (min-width: 480px) {
  .info__square-group {
    width: calc(100% - 66.2% - 10px);
  }
}
.info__square-group--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.info__mini-square {
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #a2a9b7;
}
.info__mini-square--color {
  background-color: #e3ebd3;
}
.info__mini-text {
  margin: 0 0 0 5px;
}
.info__image-text {
  margin: 0 0 12px 14px;
}
.info__mini-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  height: 90%;
  width: 90%;
  padding: 2px 0 0 11px;
}
@media screen and (min-width: 480px) {
  .info__mini-content {
    padding: 5%;
  }
}
.info__mini-content--padding {
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.info__mini-content--padding > p {
  position: absolute;
  color: white;
}
.info__mini-content img:hover {
  filter: blur(5px);
}
.info__mini-content img:hover ~ .info__content-text {
  display: block;
}
.info__content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/sign.png) 100% no-repeat;
  width: 61px;
  height: 61px;
  display: none;
}
.info__content-text:hover {
  display: block;
}
.info__subtitle {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.info__title {
  width: 100%;
  margin: 0;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18.1121px;
  line-height: 26px;
  color: #fff;
}
.info__title--align {
  text-align: center;
}

.staff {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  order: -1;
}
@media screen and (min-width: 480px) {
  .staff {
    flex-direction: row;
    order: initial;
  }
}
@media screen and (max-width: 480px) {
  .staff--order {
    padding-top: 0;
    order: 2;
  }
}
.staff p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 12px 15px;
}
.staff__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 320px;
}
@media screen and (min-width: 480px) {
  .staff__description {
    width: 66.2%;
  }
}
.staff__description--order {
  order: -1;
}
@media screen and (min-width: 480px) {
  .staff__description--order {
    order: initial;
  }
}
.staff__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 155px;
}
.staff__info--margin {
  margin: 0 0 10px 0;
}
@media screen and (min-width: 480px) {
  .staff__info--margin {
    margin: 0;
  }
}
.staff__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(50% - 5px);
  background-color: #e8ebed;
}
.staff__title--color-orange {
  background-color: #ffaa87;
}
.staff__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(50% - 5px);
  background-color: #e8ebed;
}
.staff__subtitle--color-purple {
  background-color: #c7abd4;
}
.staff__conformism {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background-color: #e8ebed;
  min-height: 155px;
  margin: 10px 0;
}
@media screen and (min-width: 480px) {
  .staff__conformism {
    margin: 0;
  }
}
.staff__conformism--color-orange {
  background-color: #ffaa87;
}
.staff__conformism--order {
  order: -1;
}
@media screen and (min-width: 480px) {
  .staff__conformism--order {
    order: initial;
  }
}
.staff__column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: auto;
  flex-direction: row;
}
@media screen and (min-width: 480px) {
  .staff__column {
    flex-direction: column;
    min-height: 320px;
    width: calc(100% - 66.4% - 7px);
  }
}
.staff__column-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #90bce8;
  min-height: 155px;
  width: calc(50% - 5px);
}
@media screen and (min-width: 480px) {
  .staff__column-item {
    width: auto;
  }
}
.staff__column-item--color-orange {
  background-color: #ffaa87;
}
.staff__column-item--color-red {
  background-color: #f55e62;
}
.staff__column-item--color-golden {
  background-color: #febf26;
}

footer {
  margin-top: 10px;
  display: flex;
  background: #c4c4c4;
  width: 100%;
  min-height: 90px;
}

/*# sourceMappingURL=style.css.map */
