@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.messages-list {
  display: flex;
  flex-direction: column;
  margin: 46px auto 80px auto;
  padding-top: 40px;
  max-width: 651px;
  background: url("../images/background-image.jpg") no-repeat;
  background-size: cover;
  box-shadow: 0px 10px 64px -11px rgba(34, 60, 80, 0.2);
  &__sent {
    width: 100%;
    height: 495px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px 19px 15px;

    &:nth-child(2) {
      padding: 0 35px 19px 15px;
    }
  }

  &__input-field {
    width: 100%;
  }

  &__user-foto {
    width: 47px;
    height: 47px;

    &--margin {
      margin: 0;
    }
  }
  &__user-field {
    position: relative;
    margin: 0 auto 0 18px;
    padding: 15px 15px 7px 15px;
    max-width: 470px;
    background: #f1f3f5;
    border-radius: 5px;

    &--padding {
      margin-top: 4px;
      padding: 10px 15px 10px 15px;
    }
    &--padding-top {
      width: 16%;
      padding: 12px 18px 10px 8px;
    }

    &--padding-right {
      padding: 12px 18px 10px 15px;
    }

    &--margin {
      margin: 0 18px 0 auto;

      &:before {
        content: "";
        position: absolute;
        left: 100%;
        top: 10px;
        width: 0;
        height: 0;
        border-right: none !important;
        border-left: 5px solid #f1f3f5;
        border-bottom: 5px solid transparent;
      }
    }

    &:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 10px;
      width: 0;
      height: 0;
      border-right: 5px solid #f1f3f5;
      border-bottom: 5px solid transparent;
    }
  }
  &__user-message {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin: 0;
  }

  &__input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 91%;
    margin: 0 auto 0 20px;
  }
}

textarea {
  padding: 10px 0 0 10px;
  margin-bottom: 20px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  height: 117px;
  border-radius: 4px;
  color: #696969;
  outline: none;
  border: none;
  resize: none;
}

button {
  max-width: 144px;
  padding: 10px 22px;
  margin-bottom: 30px;
  border: none;
  color: #fff;
  background: #0f54b9;
  box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
  border-radius: 21px;
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 18px 0 6px 0;
  margin-bottom: 40px;
  border-color: #fff;
  border-left: none;
  border-right: none;

  & > legend {
    width: 20%;
    margin-left: 5px;
    display: table-cell;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}
